# OpenAI
OPENAI_API_KEY=

# LangSmith
ENABLE_LANGSMITH=
LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_PROJECT=
LANGCHAIN_API_KEY=

# Database
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
